sagemaker-autotrain/retrain-model-aws-stepfunction.json
{
  "Comment": "An AWS Step Function State Machine to train, build and deploy an Amazon SageMaker model endpoint",
  "StartAt": "Create Training Job",
  "States": {
    "Create Training Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "$$.Execution.Name",
        "ResourceConfig": {
          "InstanceCount": 1,
          "InstanceType": "ml.c5.2xlarge",
          "VolumeSizeInGB": 30
        },
        "HyperParameters": {
          "batch_size": "100",
          "epochs": "20",
          "learning-rate": "0.01",
          "sagemaker_region": "\"us-east-1\"",
          "sagemaker_job_name": "\"sms-spam-classifier-mxnet-2021-04-05-18-50-21-492\"",
          "sagemaker_program": "\"sms_spam_classifier_mxnet_script.py\"",
          "sagemaker_submit_directory": "\"s3://sagemaker-hw3-bucket/sms-spam-classifier/code/sms-spam-classifier-mxnet-2021-04-05-18-50-21-492/source/sourcedir.tar.gz\""
        },
        "AlgorithmSpecification": {
          "TrainingImage": "520713654638.dkr.ecr.us-east-1.amazonaws.com/sagemaker-mxnet:1.1-cpu-py2",
          "TrainingInputMode": "File"
        },
        "OutputDataConfig": {
          "S3OutputPath": "s3://sagemaker-hw3-bucket/sms-spam-classifier/output"
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 86400
        },
        "RoleArn": "arn:aws:iam::*****:role/service-role/AmazonSageMaker-ExecutionRole-20210405T130447",
        "InputDataConfig": [
          {
            "ChannelName": "train",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "s3://sagemaker-hw3-bucket/sms-spam-classifier/train/",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          },
          {
            "ChannelName": "val",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "s3://sagemaker-hw3-bucket/sms-spam-classifier/val/",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ]
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 1.1
        },
        {
          "ErrorEquals": [
            "SageMaker.ResourceLimitExceededException"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 1,
          "BackoffRate": 1
        },
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 1,
          "BackoffRate": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.cause",
          "Next": "Display Error"
        }
      ],
      "Next": "Create Model"
    },
    "Create Model": {
      "Parameters": {
        "PrimaryContainer": {
          "Image": "520713654638.dkr.ecr.us-east-1.amazonaws.com/sagemaker-mxnet:1.1-cpu-py2",
          "Environment": {},
          "ModelDataUrl.$": "$.ModelArtifacts.S3ModelArtifacts"
        },
        "ExecutionRoleArn": "arn:aws:iam::*******:role/service-role/AmazonSageMaker-ExecutionRole-20210405T130447",
        "ModelName.$": "$.TrainingJobName"
      },
      "Resource": "arn:aws:states:::sagemaker:createModel",
      "Type": "Task",
      "ResultPath": "$.taskresult",
      "Next": "Create Endpoint Config"
    },
    "Create Endpoint Config": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
      "Parameters": {
        "EndpointConfigName.$": "$.TrainingJobName",
        "ProductionVariants": [
          {
            "InitialInstanceCount": 1,
            "InstanceType": "ml.m5.large",
            "ModelName.$": "$.TrainingJobName",
            "VariantName": "AllTraffic"
          }
        ]
      },
      "ResultPath": "$.taskresult",
      "Next": "Create Endpoint"
    },
    "Create Endpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createEndpoint",
      "Parameters": {
        "EndpointConfigName.$": "$.TrainingJobName",
        "EndpointName.$": "$.TrainingJobName"
      },
      "End": true
    },
    "Display Error": {
      "Type": "Pass",
      "Result": "Finished with errors. Please check the individual steps for more information",
      "End": true
    }
  }
}